/* Icon styles */
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-38 { font-size: 38px; }
.material-icons.md-dark { color: rgb(120, 120, 120); }

.container {
	background-color: #fafafa;
}

header.principal-header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
	opacity: 0;
	background-color: #fafafa;
	box-shadow: 5px 0 5px rgba(0, 0, 0, .3);
	transition: opacity .4s ease-out 0s;
}

/* Barra de navegación principal */
.navigation {

	display: flex;
	justify-content: space-between;

	width: 100%;

	overflow: hidden;
	transition: all .5s ease .2s;
}

/* Logo */
.logo {
	padding: 0 1.5rem;
	color: #787878;
	font: 2.3vw 'Dancing Script', cusive;
}

/* Contenedor de iconos */
.menu {
  display: flex;
  flex-flow: row nowrap;
}

/* Wrapper de los iconos */
.icon {
  padding: 1.1rem
}

/* Estilos de el indicador del carro */
.total-items {
  opacity: 0;
  height: 1vw;
  width: 1vw;
  position: fixed;
  background-color: #f06292;
  border-radius: 50%;
  transition: all .2s ease 0s;
}

/* Grid container */
.rows-container {
  opacity: 0;
  margin-top: 17vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10vh;
  transition: all .4s ease-out 0s;
}

/* Cards for items */
.item-card {
  justify-self: center;
  display: flex;
  align-items: stretch;
  flex-flow: column;
  width: 18vw;
  height: 56vh;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0 2px rgba(0, 0, 0, .5);
  transition: all .1s linear 0s;
}

.item-card:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, .5)
}

/* card image Section */
.up-box {
  background-color: #787878;
}

/* card control seection */
.below-box {
  display: flex;
  flex-flow: column;
}

/*product information*/
.product-info {
  height: 35%;
}

/*Title information*/
.title-wraper {
  height: 50%;
}

.title-wraper > span {
  font-size: 1.3vw;
  color: #6c6c6c;
}

/* price section */
.price-wraper {
  height: 50%;
}

.price-wraper > span{
  font-size: 1.3vw;
  color: rgb(120, 120, 120);
}

/* controls to buy - section */
.buy-wraper {
  height: 65%;
}

/* Selector section */

.selector {
  display: flex;
  flex-flow: row nowrap;
  
  border: 1px solid #bdbdbd;
  overflow: hidden;
  border-radius: 10px;
}

.selector > .min-btn {
  padding: .2vh 1.5vw;
  font-size: 1.7vw;
  background-color: #aeaeae;
  transition: all .2s ease 0s;
}

.selector > .min-btn:hover {
  color: #fff;
  background-color: #ef5350;
}

.output {
  text-align: center;
  width: 4vw;
}

.selector > .plus-btn {
  color: #fff;
  font-size: 1.7vw;
  padding: .2vh 1.5vw;
  background-color: #808080;
  transition: all .2s ease 0s;
}

.selector > .plus-btn:hover {
  background-color: #f06292;
}

/*Buy button section*/
.add-cart-wraper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.add-btn {
  padding: 1.3vh 1.6vw;
  color: #fff;
  font-size: 1.3vw;
  border-radius: 10px;
  background-color: #f06292;
  transition: all .3s ease 0s;
}

.add-btn:hover {
  background-color: #ed437c;
  transition: all .3s ease 0s;
}

/* Shopping cart screen */
div.shopping-screen {
  display: grid;
  grid-template-rows: 10vh 76vh 14vh;

  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background-color: #fff;
}

header.shopping-screen {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

header.shopping-screen > div.close-icon {
  margin-left: .8vw; 
}

div.shopping-screen > div.buy-wraper {
  display: grid;
  grid-template-columns: 80% auto;

  height: 100%;
  width: 100%;
}

.total-wraper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.total-wraper > span {
  margin-right: 1.3vw;
  color: #787878;
  font: 1.7vw 'Roboto', sans-serif;
}

.buy-btn-wraper {
  display: flex;
  align-items: center;
}

.buy-btn {
  color: #fff;
  font: 1.7vw 'Roboto', sans-serif;
  padding: .3rem 2rem;
  background-color: #f06292;
  border-radius: 5px;
}

.sorry-screen {
  color: #787878;
  font: 1.7vw 'Roboto', sans-serif;
}

/****** Misc *****/

/* Display flex centrado */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tipo de cursor al hacer hover */
.default-cursor {
  cursor: default;
  user-select: none;
}

/* Height 50% */
.height-50 {
  height: 50%;
}

/* Configs para background */
.image {
  height: 100%;
  width: 100%;
  background-color: rgb(120, 120, 120);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/**** Loader ****/

 .loading, .loading::before, .loading::after {
  box-sizing: border-box;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
	opacity: 100;
	transition: opacity .3s ease 0s;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 5px solid #fafafa;
  border-radius: 100%;
}

.first {  
  margin: -30px 0 0 -30px;
  height: 60px;
  width: 60px;
  border-top-color: #787878;
  animation: loading 3s infinite linear;
}

.second {  
  margin: -20px 0 0 -20px;
  height: 40px;
  width: 40px;
  border-top-color: #787878;
  animation: loading 2s infinite linear;
}

.third {  
  margin: -10px 0 0 -10px;
  height: 20px;
  width: 20px;
  border-top-color: #787878;
  animation: loading 1s infinite linear;
}
