/*Contenedor principal*/
.container {
	position: relative;
	right: 0;
	background-color: #fafafa;
}

/*Barra de navegación principal*/
.menu-bar {
	position: fixed;
	display: flex;
	justify-content: space-between;
	
	top: 0;

	width: 100vw;

	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, .5);
	transition: all .5s ease .2s;
}

/*Logo*/
.logo {
	padding: 0 1.5rem;
	color: #fff;
	font: 2.3vw 'Dancing Script', cusive;
}

/*Menu de opciones*/

.menu ul {
	display: flex;
}

.menu ul > li {	
	list-style: none;
}

.menu ul > li a {
	display: inline-block;
	text-decoration: none;
	padding: 1.6rem;
	color: #fff;
	font: 1.8vw 'Roboto', sans-serif;
	transition: transform .3s ease-out 0s;
}

.menu ul > li a:hover {
	transform: scale(1.05);
}

/*Pantalla principal*/
.principal {

	background-image: url('../img/fiesta.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

/*Tarjeta de la pantalla principal*/
.principal-card {
	align-self: center;
	display: flex;
	flex-flow: column nowrap;

	width: 31vw;

	margin-left: 5vw;
}

.principal-card .left {
	color: #fff;
	font: 5vw 'Roboto', sans-serif;
}

.principal-card .right {
	color: #fff;
	font: 3.2vw 'Roboto', sans-serif;
	text-align: right;
}

/*Segunda Pantalla*/
.second {

	background-image: url('../img/purple-chair.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}


/*tarjeta de la segunda pantalla*/
.second-card {
	position: relative;
	left: -40vw;
	width: 30vw;
	align-self: center;

	transition: left .4s ease 0s;
}

.second-card > span{
	width: 21vw;
	display: block;
	text-align: justify;
	color: #fff;
	font: 2vw 'Roboto', sans-serif;
}

/*Tercera pantalla*/
.third {

	background-image: url('../img/wedding.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

/*Tarjeta de la tercera pantalla*/
.third-card {
	opacity: 0;
	align-self: flex-start;

	margin-top: 20vh; 
	margin-right: 10vw;

	height: 35vh;
	width: 25vw;

	background-color: #fff;
	transition: opacity .8s ease-out 0s;
}

.third-card > span {
	display: block;
	color: rgb(60, 60, 60);
	width: 70%;
	text-align: justify;
	font: 1.7vw 'Dancing Script', sans-serif;
}

/*Cuarta pantalla*/
.fourth {
	background-image: url('../img/balloon.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

/*Tarjeta de la cuarta pantalla*/
.fourth-card {
	width: 56vw;
}

.fourth-card .right {
	color: #fff;
	font: 2.6vw 'Roboto', sans-serif;
	text-align: right;
	opacity: 0;
	transition: opacity .5s ease-in 0s;
}

.fourth-card .left {
	color: #fff;
	font: 3.5vw 'Roboto', sans-serif;
	opacity: 0;	
	transition: opacity .6s ease-out .8s;
}

.fourth-card .left > a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	transition: transform .4s ease-out 0s;
}

.fourth-card .left > a:hover {
	transform: scale(1.05);
}

/*******Misc******/

/*Tamaño para pantalla completa*/
.fullscreen {
	width: 100vw;
	height: 100vh;
}

/*Display flex centrado*/
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Display flex a la derecha*/
.flex-end {
	display: flex;
	justify-content: flex-end;
}

/*Pantalla oscura*/
.sunglass {
	display: flex;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, .5);
	height: 100%;
}

/*Tipo de cursor al hacer hover*/
.default-cursor {
	cursor: default;
	user-select: none;
}

/*Ocultar sobrante*/
.overflow-hidden {
	overflow: hidden;
	transition: height .4s ease-in-out 0s;
}

.zero-height {
	width: 100vw;
	height: 0;
}

.transparent {
	background-color: transparent;
}